.daily-report {
  .card-body { text-align: center; }

  h3 {
    .weekday { font-size: 2rem; }
    .date { font-size: 1rem; font-weight: normal; color: #999999; }
  }

  h4 {
    padding: 0;
    margin: 0 0 0.5rem 0;
  }

  hr {
    margin: 1rem 0;
    padding: 0;
  }

  section {
  }

  .reportable {
    margin: 1rem 0 0 0;

    h6 { padding: 0; margin: 0; }
    p { color: #999999; }
  }

  .empty { color: #999999; }
}
