.new-report {
  text-align: center;

  .new-report-btn-container {
    position: relative;
  }

  .new-report-dialog {
    display: block;
    text-align: center;
    z-index: 1;
    min-width: 20rem;
    max-width: 26rem;
    background-color: #FFFFFF;
    margin: 0.5rem auto 0 auto;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
    overflow-wrap: break-word;
    white-space: normal;

    @media (max-width: 992px) { max-width: 95%; }

    a {
      display: inline-block;
      padding: 1rem 2rem;
      color: #444444;

      i {
        font-size: 24px;
      }

      span {
        display: block;
      }
    }
  }
}
