.report {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
  display: block;
  padding: 0.75rem 1.25rem;
  position: relative;
  margin-bottom: 1rem;
  display: none;

  .item {
    .item-body {
      word-wrap: break-word;
    }
  }
}

.report-edited {
  li {
    overflow-wrap: break-word;

    .item-body {
      position: relative;
      padding-right: 5rem;

      .btn-group {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.report-header {
  margin-bottom: 1rem;
  position: relative;

  .avatar {
    vertical-align: middle;
  }

  .details {
    vertical-align: middle;
    margin-left: 0.5rem;
    display: inline-block;
  }

  .name {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.15rem;
  }

  .date {
    display: block;
    line-height: 1;
    font-size: 12px;
    color: #999;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.report-footer {
  margin: 1rem -1.25rem -0.75rem -1.25rem;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f9f9f9;
}

.new-item {
  display: block;
  border: 1px dashed #cccccc;
  padding: 0.75rem;
  text-align: center;
  color: #cccccc;
  cursor: pointer;

  i { font-size: 20px; }
}

.section {
  form {
    display: block;
    border: 1px dashed #cccccc;
    padding: 0.75rem;

    .form-group:last-child {
      margin-bottom: 0;
    }

    .md-hints {
      display: block;
      color: #cccccc;
      text-align: right;
      font-size: 11px;

      code { color: #cccccc; }
    }
  }
}
