.users-table {
  tbody > tr:first-child > td { border-top: none; }
}

.users-table-admin-col {
  width: 20px;
  text-align: right;

  i {color: #D2B100;}
}

.users-table-avatar-col {
  width: 44px;
}

.users-table-name-col {
  text-align: left;
}

.users-table-slack-col {
  color: #666666;
  font-size: 30px;
}

.users-table-subscription-col {
  text-align: right;
  width:1%;
  white-space:nowrap;
}

.users-table-actions-col {
  text-align: right;
  width:1%;
  white-space:nowrap;
}
