@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/dist/css/bootstrap";
@import 'bootstrap_overwrites';

.jumbo {
  margin: 0;
  padding: 0 0 1rem 0;
  text-align: center;
  color: #ffffff;
  background-image: asset-url('nami.png');
  position: relative;
  z-index: 1;

  nav {
    margin: 0;
  }
}

.pitch {
  h1 { font-size: 50px; padding: 0; margin: 0}
  p { font-size: 18px; margin: 0; }
  a { margin-top: 1rem; }

  margin-top: 1rem;
  margin-bottom: 3rem;
}

.window {
  width: 100%;
  color: #333333;

  .window-header {
    background-color: #d9d9d9;
    text-align: left;
    padding: 5px 15px;
  }

  .window-body {
    background-color: #FFFFFF;
    padding: 0 2rem;

    img { width: 100%; position: relative; top: 2rem; }
  }

  .dot {
    &.dot-red { background-color: red; }
    &.dot-orange { background-color: orange; }
    &.dot-green { background-color: #25c639; }

    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px;
  }

  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}

.selling-points {
  margin: 2rem 0;
}

.selling-point {
  text-align: center;

  i { font-size: 36px; margin-bottom: 0.5rem; }
  h2 { font-size: 22px }
}

footer {
  .social-links {
    a {
      &:hover { color: #cccccc; }
      color: #ffffff;
      font-size: 26px;
      margin: 0 10px;
    }
  }

  padding: 1rem;
  text-align: center;
  background-color: #222222;
}
